<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>确认订单</title>
    <link rel="icon" href="img/milogo.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="font/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="CSS/reset.css"/>
    <link rel="stylesheet" type="text/css" href="CSS/address.css"/>
    <link rel="stylesheet" type="text/css" href="CSS/currency.css"/>
    <link rel="stylesheet" type="text/css" href="CSS/confirm.css"/>
</head>
<body>
<!-- 我的购物车顶部导航栏 -->
<div class="header-box">
    <div class="container clearfix">
        <div class="fl header-left">
            <div class="iconfont">
                <img src="img/milogo.ico" style="width: 45px">
            </div>
            <div>确认订单</div>
        </div>
        <div class="fr header-right">
            <ul>
                <li class="user-title">
                    <p>
                        <span th:text="${session.current.username}"></span><span class="iconfont icon-xia"></span>
                    </p>
                    <div class="user-list">
                        <ul>
                            <li><a href="/personal/page">个人中心</a></li>
                            <li><a href="/logout">退出登录</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="/order/order" target="_blank">我的订单</a></li>
            </ul>
        </div>
    </div>
</div>
<!--添加收货地址-->
<div id="formadd" style="display:none;">
    <form class="layui-form" action="" lay-filter="addForm">
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-block">
                <input type="text" name="memberName" required lay-verify="required" placeholder="请输入姓名"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">电话</label>
            <div class="layui-input-block">
                <input type="text" name="memberTel" required lay-verify="required" placeholder="请输入电话"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">省份</label>
            <div class="layui-input-block">
                <input type="text" name="province" required lay-verify="required" placeholder="请输入省份"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">市</label>
            <div class="layui-input-block">
                <input type="text" name="city" required lay-verify="required" placeholder="请输入市" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">区/县</label>
            <div class="layui-input-block">
                <input type="text" name="area" required lay-verify="required" placeholder="请输入区/县"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">详细地址</label>
            <div class="layui-input-block">
                <input type="text" name="address" required lay-verify="required" placeholder="请输入详细地址"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">标签</label>
            <select name="tag">
                <option value="家">家</option>
                <option value="公司">公司</option>
            </select>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" id="submitadd" lay-submit type="button" lay-filter="formDemo">立即提交
                </button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<!-- 中间部分 -->
<div>
    <div class="container ">
        <div class="orderInfor">
            <div class="orderInfor-title">收货地址</div>
            <div class="add-box">
                <div class="address-list" th:dataid="${add.id}" th:each="add:${addressList}">
                    <div class="addressBox clearfix">
                        <div class="address-label" th:text="${add.tag}"></div>
                        <div class="address-name" th:text="${add.memberName}"></div>
                        <div class="address-number" th:text="${add.memberTel}"></div>
                        <div class="address-address" th:text="${add.province+'  '+add.city+'  '+add.area}"></div>
                        <div class="address-detailed" th:text="${add.address}"></div>
                        <div class="address-change">
                            <!--                            <span class="address-changeed" th:attr="data-id=${add.id}" onclick="getAddress(this.getAttribute('data-id'))">修改</span>-->
                            <span class="address-dele" th:attr="data-id=${add.id}"
                                  onclick="deleteAddress(this.getAttribute('data-id'))">删除</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="addAddress-box">
                <div class="addAddress">
                    <p class="iconfont icon-jiahao-"></p>
                    <button id="formbtn" layui-btn>添加新地址</button>
                </div>
            </div>
            <div class="orderInfor-title">商品及优惠卷</div>
            <div class="order-infor" th:each="cart:${carts}">
                <div><img width="50px" th:src="${cart.imgPath}"></div>
                <div class="order-infor-name" th:text="${cart.productName}"></div>
                <div class="order-infor-num" th:text="${cart.price+'元 *'+cart.amount}"></div>
                <div class="order-infor-status"></div>
                <div class="order-infor-money" th:text="${cart.amount*cart.price+'元'}"></div>
            </div>
            <div class="mode">
                <div class="orderInfor-title">配送方式</div>
                <div>包邮</div>
            </div>

            <div class="settlement-box clearfix">        <!-- 发票下，结算详情 -->
                <div class="settlement-right fr">
                    <table>
                        <tr>
                            <td>商品件数：</td>
                            <td th:text="${cartTotalVO.total}">1件</td>
                        </tr>
                        <tr>
                            <td>商品总价：</td>
                            <td th:text="${cartTotalVO.price+'元'}">1699元</td>
                        </tr>
                        <tr>
                            <td>活动优惠：</td>
                            <td>-0元</td>
                        </tr>
                        <tr>
                            <td>优惠卷抵扣：</td>
                            <td>-0元</td>
                        </tr>
                        <tr>
                            <td>运费：</td>
                            <td>0元</td>
                        </tr>
                        <tr>
                            <td>应付总额：</td>
                            <td class="moneyTotla" th:text="${cartTotalVO.price}+'元'"><b>1699</b>元</td>
                        </tr>
                    </table>
                </div>

            </div>
            <form action="/order/save" method="post" id="orderForm">
                <input id="addId" type="hidden" name="addId">
                <input type="hidden" name="cartIds" th:value="${param.cartIds}"/>
                <div class="address-bottom-box clearfix">

                    <div class="address-left fl">
                    </div>
                    <div class="address-right fr">
                        <button class="return" type="button"><a href="/cart" style="color: black">返回购物车</a>
                        </button>
                        <button class="buy" type="button" id="orderBtn"><a href="javaacript:;">立即下单</a></button>
                    </div>
                </div>
            </form>
        </div>


    </div>
</div>

<!-- 发票弹出框 -->


<th:block th:include="footer"/>

<script type="text/javascript" src="/JS/jquery.js"></script>
<script type="text/javascript" src="/layui/layui.js"></script>
<!-- <script type="text/javascript" src="JS/currency.js"></script> -->
<!--<script type="text/javascript" src="/JS/address.js"></script>-->
<!--<script type="text/javascript" src="/JS/confirm.js"></script>-->
<script>
    //找到地址div，点击绑定事件
    $(".address-list").on("click", function () {
        var _this = $(this);//_this代表当前点的地址
        _this.siblings().removeClass("act");
        _this.addClass("act");
        $("#addId").val(_this.attr("dataid"));
    });
    $("#orderBtn").on("click", function () {
        var addId = $("#addId").val();
        if (!addId) {
            alert("请先选择一个地址");
            return false;
        }
        $("#orderForm").submit();
    });

    function deleteAddress(id) {
        if (confirm("您确定要删除吗?"))
            $.get('/member-address/delete?id=' + id, function (id) {
                alert("删除成功")
                window.location.reload();
            })
    }

    layui.use(['layer', 'form'], function () {
        var layer = layui.layer;
        var form = layui.form;

        // 点击按钮弹出表单
        $('#formbtn').on('click', function () {
            layer.open({
                type: 1,
                title: '表单',
                content: $('#formadd'),
                area: ['500px', '650px'],
                btn: ['提交', '取消'],
                btn2: function (index, layero) {
                    // 取消按钮的回调函数
                }
            });
        });
        $("#submitadd").on("click", function () {
            var data = form.val("addForm");
            $.post('/member-address/save', data, function () {
                //关窗口
                layer.closeAll();
            })
        })
    });

</script>

</body>
</html>
