<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 顶部菜单模块 -->
<div class="menu-list">
    <div class="container clearfix">
        <div class="menu-left">
        </div>
        <div class="menu-cart fr">
            <span class="iconfont icon-gouwuche"></span>
            <div><a href="/cart" target="_blank">购物车</a></div>
            <div class="cart-box">快来购物车看看吧</div>
        </div>
        <div class="menu-right fr">
            <ul th:if="${session.current == null}">
                <li><a href="/login" target="_blank">登录</a></li>
                <li><a href="/login" target="_blank">注册</a></li>
            </ul>
            <ul th:if="${session.current != null}">
                <li><a href="" th:text="${session.current.username}"></a></li>
                <li><a href="/personal/page">个人中心</a></li>
            </ul>
        </div>

    </div>
</div>
<!-- 导航栏模块 -->
<div class="banner header-bg">
    <div class="container clearfix ">
        <!--        <div class="iconfont icon-icon-xiaomiguishu">-->
        <!--        <div class="iconfont">-->
        <!--            <img src="img/milogo.ico" style="width: 60px;height:60px;">-->
        <!--        </div>-->
        <div class="banner-list header">
            <a href="/">
                <img src="img/milogo.ico" style="width: 60px;height:60px;">
            </a>
            <ul class="ooo">
            </ul>
        </div>
        <div class="banner-search fr">
            <input id="search-input" class="acti" type="text" placeholder="运动项目"/>
            <a href="search.html"><span id="search-btn" class="iconfont icon-chazhaosousuo"></span></a>
        </div>
    </div>
</div>
</body>

<script src="JS/index.js"></script>
<script src="layui/layui.js"></script>
<script>
    layui.use(['laytpl'], function () {
        var laytpl = layui.laytpl;
        var $ = layui.jquery;


        //查数据
        $.get("/product/telephone", function (data) {
            console.log("header=>")
            console.log(data)
            $.each(data, function (index, category) {
                var productHTML = '<li class="over-test1 over">';
                productHTML += '<p class="header-item-tit">' + category.categoryName + '</p>';
                productHTML += '<div class="nav-bg">';
                productHTML += '<ul class="container header-list">';

                $.each(category.product, function (i, item) {
                    var itemId = 'item_' + item.id;  // 生成唯一的 ID
                    productHTML += '<li id="' + itemId + '" data-item=\'' + JSON.stringify(item) + '\'>';
                    productHTML += '<p><img src="' + item.imgPath + '" style="width: 160px; height: 110px"></p>';
                    productHTML += '<p>' + item.name + '</p>';
                    productHTML += '<p>' + item.price + '元起</p>';
                    productHTML += '</li>';
                    $('#' + itemId).data('item', item);
                    console.log($('#'+itemId))
                });

                productHTML += '</ul>';
                productHTML += '</div>';
                productHTML += '</li>';
                $('.ooo').append(productHTML);
            });
        });

        $('.ooo').on('click', '.container li', function() {
            // var itemId = $(this).attr('id');
            var item = $(this).data('item');
            console.log(item)
            if (item) {
                window.location.href = "/detail?id=" + item.id;
            }
        });
    });
</script>