<!DOCTYPE html>
<html xmlns:th="">
	<head>
		<meta charset="utf-8">
		<title>商品详情</title>
		<link rel="icon" href="img/milogo.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="font/iconfont.css"/>
		<link rel="stylesheet" type="text/css" href="CSS/reset.css"/>
		<link rel="stylesheet" type="text/css" href="CSS/currency.css"/>
		<link rel="stylesheet" type="text/css" href="CSS/HomeAppliance.css"/>
	     	<link rel="stylesheet" type="text/css" href="layui/css/layui.css"/>

	</head>
	<body>
	<th:block th:include="header"></th:block>
		<!-- 页面右侧固定版块 -->
		<div class="right-fix">
			<ul>
				<li ><a class="iconfont icon-icon-" href="/personal/page" target="_blank"></a></li>
				<li><a class="iconfont icon-gouwuche" href="/cart" target="_blank"></a></li>
			</ul>
		</div>


		<!-- 导航栏下，家电详情列表 -->
		<div class="nav-bar">
			<div class="container clearfix">
				<div class="fl bar-left">

				</div>
				<div class="fr bar-right">

				</div>
			</div>
		</div>
		
		
		<!-- 产品详情 -->
		
		<div class="product">
			<div class="container clearfix">
				<div class="fl product-left" th:style="'background-image: url(' + ${product.imgPath} + ')'">	<!-- 左侧轮播图 -->
					<!-- <img src="img/HomeAppliance/rotate1.jpg" > -->
					<div class="switch-box">

					</div>
				</div>
				
				
				
				
				<div class="product-right">	<!-- 右侧购买选项 -->
					<h2 th:text="${product.name}"></h2>
<!--					<p class="product-right-title"><span class="product-tilte-desc">「小米电视9月开门红」「价保30天，买贵补差」</span>4K超高清画质/AI远场语音/Unibody金属全面屏/DTS音频解码</p>-->

<!--					<p class="product-company-info">小米自营</p>-->
					
					<p class="product-price-info" th:text="${product.price}+'元'"></p>
					<hr>

					
					<div class="choice-title">选择颜色</div>
					<div class="choice-list" th:text="${product.color}">黑色</div>
					<div class="choice-title">选择品质</div>
					<div class="choice-list" th:text="${product.edition}">75英寸</div>

					<div class="btn"style=" margin-top: 35px;" >
						<button class="addCart" type="button" id="addCart">
							<a href="javascript:;" style="color: #fcf5ff;">加入购物车</a>
						</button>
					</div>
					
				</div>
				
			</div>
		</div>
		
		
		<!-- 价格说明 -->
		<div class="descirpt">
			<div class="container">
				<h2>价格说明</h2>
				<div class="descript-des">
					<div>
						<span>划线价：</span>商品展示的划横线价格为参考价,该价格可能是品牌专柜标价、商品吊牌价或由品牌供应商提供的正品零售价(如厂商指导价、建议零售价
						等)或该商品在体育商城曾经展示过的销售价;由于地区、时间的差异性和市场行情波动，品牌专柜标价、商品吊牌价
						等可能会与您购物时展示的不- -致,该价格仅供您参考。
					</div>
				</div>
				
			</div>
		</div>




	<th:block th:include="footer"/>
		
		<script type="text/javascript" src="JS/jquery.js"></script>
		<script src="JS/currency.js"></script>
		<script src="JS/HomeAppliance.js"></script>
		<script src="layui/layui.js"></script>
	<script src="JS/common.js"></script>
	<script>
		layui.use(['layer'],function(){
			var layer=layui.layer;
			var $=layui.jquery;
			var productId=[[${product.id}]];
			$("#addCart").on("click",function(){
				$.post("/cart/add",{id:productId},function(){
						layer.msg("加入购物车成功！");
				});
			});
		})
	</script>
	</body>
</html>
