<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>我的订单</title>
    <link rel="icon" href="/img/milogo.ico" type="/image/x-icon">
    <link rel="stylesheet" type="text/css" href="/font/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="/CSS/currency.css"/>
    <link rel="stylesheet" type="text/css" href="/CSS/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/CSS/order.css"/>
</head>
<body>
<!-- 顶部菜单模块 -->
<div class="menu-list">
    <div class="container clearfix">
        <div class="menu-left">
        </div>
        <div class="menu-cart fr">
            <span class="iconfont icon-gouwuche"></span>
            <div><a href="/cart" target="_blank">购物车</a></div>
            <div class="cart-box">快来购物车看看吧</div>
        </div>
        <div class="menu-right fr">
            <ul>
                <li><a href="/login" target="_blank">登录</a></li>
                <li><a href="/login" target="_blank">注册</a></li>
            </ul>
        </div>

    </div>
</div>
<!-- 导航栏模块 -->
<div class="banner header-bg">
    <div class="container clearfix ">
<!--        <div class="iconfont icon-icon-xiaomiguishu"></div>-->
        <div class="iconfont">
            <img src="/img/milogo.ico" style="width: 45px"/>
        </div>
        <div class="banner-list header">
            <ul class="ooo">
                <li class="over-test1 over">
                    <p class=" header-item-tit">运动卫衣</p>
                    <div class="nav-bg">
                        <ul class="container header-list">
                            <li>
                                <p><img src="img/index/运动卫衣/img.png" style="width: 160px;height: 110px"></p>
                                <p>刺绣logo纯色圆领套头运动卫衣</p>
                                <p>399元起</p>
                            </li>
                            <li>
                                <p><img src="img/index/运动卫衣/img_1.png" style="width: 160px;height: 110px"></p>
                                <p>休闲时尚百搭印花男式运动卫衣</p>
                                <p>429元起</p>
                            </li>
                            <li>
                                <p><img src="img/index/运动卫衣/img_2.png" style="width: 160px;height: 110px"></p>
                                <p>潮牌紫色女连帽加绒加厚运动卫衣</p>
                                <p>699元起</p>
                            </li>
                            <li>
                                <p><img src="img/index/运动卫衣/img_3.png" style="width: 160px;height: 110px"></p>
                                <p>欧文同款-飞盘联盟泡芙绒科技男子加厚针织上衣运动复古</p>
                                <p>1099元起</p>
                            </li>
                            <li>
                                <p><img src="img/index/运动卫衣/img_4.png" style="width: 160px;height: 110px"></p>
                                <p>CHN综训系列男子套头卫衣</p>
                                <p>369元起</p>
                            </li>
                            <li>
                                <p><img src="img/index/运动卫衣/img_5.png" style="width: 160px;height: 110px"></p>
                                <p>轻狂篮球系列男女同款连帽卫衣</p>
                                <p>349元起</p>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="over-test2 over">
                    <p class="header-item-tit">运动内衣</p>
                    <div class="nav-bg">
                        <ul class="container header-list">
                            <li>
                                <p><img src="img/index/运动内衣/img.png" style="width: 160px;height: 110px"></p>
                                <p>运动套装男健身服速干冰丝休闲短袖训练篮球跑步服夏季宽松薄款</p>
                                <p>79元起</p>
                            </li>
                            <li>
                                <p><img src="img/index/运动内衣/img_1.png" style="width: 160px;height: 110px"></p>
                                <p>ubras中高强度运动文胸女士内衣女无钢圈美背胸罩</p>
                                <p>199元起</p>
                            </li>
                            <li>
                                <p><img src="img/index/运动内衣/img_2.png" style="width: 160px;height: 110px"></p>
                                <p>莫代尔运动内衣女高强度健身跑步防震瑜伽服一体美背心式聚拢文胸L</p>
                                <p>79元起</p>
                            </li>
                            <li>
                                <p><img src="img/index/运动内衣/img_3.png" style="width: 160px;height: 110px"></p>
                                <p>迪卡侬运动保暖内衣男士秋衣跑步滑雪运动打底内衣</p>
                                <p>39元起</p>
                            </li>
                            <li>
                                <p><img src="img/index/运动内衣/img_4.png" style="width: 160px;height: 110px"></p>
                                <p>浪莎男士背心男纯棉单件青年舒适透气夏季汗衫跨栏吊带运动打底杉</p>
                                <p>10元起</p>
                            </li>
                            <li>
                                <p><img src="img/index/运动内衣/img_5.png" style="width: 160px;height: 110px"></p>
                                <p>春夏上新清凉运动时尚男士内衣</p>
                                <p>55元起</p>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="over-test3 over">
                    <p class="header-item-tit">运动鞋</p>
                    <div class="nav-bg">
                        <ul class="container header-list">
                            <li>
                                <p><img src="img/index/运动鞋/img1.png" style="width: 160px;height: 110px"></p>
                                <p>R2风跑鞋官方新款缓震透气跑步鞋春夏软底避震跳操跳绳运动鞋</p>
                                <p>298元</p>
                            </li>
                            <li>
                                <p><img src="img/index/运动鞋/img.png" style="width: 160px;height: 110px"></p>
                                <p>
                                    安踏休闲鞋男子春季新款潮流百搭舒适透气运动鞋软底厚底经典男鞋</p>
                                <p>189元</p>
                            </li>
                            <li>
                                <p><img src="img/index/运动鞋/img_1.png" style="width: 160px;height: 110px"></p>
                                <p>乔丹运动鞋男鞋夏季网面透气跑步鞋舒适减震鞋子轻便跑鞋官方正品
                                </p>
                                <p>699元</p>
                            </li>
                            <li>
                                <p><img src="img/index/运动鞋/img_2.png" style="width: 160px;height: 110px"></p>
                                <p>李宁启星2.0 |休闲鞋男鞋新款减震回弹时尚潮流厚底老爹鞋运动鞋
                                </p>
                                <p>439元</p>
                            </li>
                            <li>
                                <p><img src="img/index/运动鞋/img_3.png" style="width: 160px;height: 110px"></p>
                                <p>回力男鞋运动鞋春季轻便软底减震男士跑步鞋子男爆款
                                </p>
                                <p>79.8元</p>
                            </li>
                            <li>
                                <p><img src="img/index/运动鞋/img_4.png" style="width: 160px;height: 110px"></p>
                                <p>Air Jordan午夜蓝 男子运动休闲低帮篮球鞋553558-481
                                </p>
                                <p>736元</p>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="over-test4 over">
                    <p class="header-item-tit">运动耳机</p>
                    <div class="nav-bg">
                        <ul class="container header-list">
                            <li>
                                <p><img src="img/index/运动耳机/img.png" style="width: 160px;height: 110px"></p>
                                <p>蓝牙耳机无线挂耳式气骨传导不入耳开放运动跑步专用降噪
                                </p>
                                <p>499元起</p>
                            </li>
                            <li>
                                <p><img src="img/index/运动耳机/img_1.png" style="width: 160px;height: 110px"></p>
                                <p>挂耳式蓝牙耳机不入耳开放式骨传导无线降噪运动跑步耳机
                                </p>
                                <p>306元起</p>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="over-test5 over">
                    <p class="header-item-tit">健身器械</p>
                    <div class="nav-bg">
                        <ul class="container header-list">
                            <li>
                                <p><img src="img/index/健身器械/img.png"  style="width: 160px;height: 110px"></p>
                                <p>乔山OXFORD6家用磁控风阻划船机划船器家用健身器材可折叠
                                </p>
                                <p>6499元起</p>
                            </li>
                            <li>
                                <p><img src="img/index/健身器械/img_1.png"  style="width: 160px;height: 110px"></p>
                                <p>健身泵哑铃划船机多功能深蹲力量家用综合训练器
                                </p>
                                <p>999元起</p>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="over-test6 over">
                    <p class="header-item-tit">运动短裤</p>
                    <div class="nav-bg">
                        <ul class="container header-list">
                            <li>
                                <p><img src="img/index/运动短裤/img.png"  style="width: 160px;height: 110px"></p>
                                <p>双层专业健身运动短裤高弹轻薄训练跑步四分裤
                                </p>
                                <p>255元</p>
                            </li>
                            <li>
                                <p><img src="img/index/运动短裤/img_1.png"  style="width: 160px;height: 110px"></p>
                                <p>健身乒乓球网球田径训练短裤
                                </p>
                                <p>49元</p>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="over-test7 over">
                    <p class="header-item-tit">运动袜</p>
                    <div class="nav-bg">
                        <ul class="container header-list">
                            <li>
                                <p><img src="img/index/运动袜/img.png"  style="width: 160px;height: 110px"></p>
                                <p>中筒557专业实战篮球袜精英袜加厚运动袜子男女防滑毛巾底
                                </p>
                                <p>138元</p>
                            </li>
                            <li>
                                <p><img src="img/index/运动袜/img_1.png"  style="width: 160px;height: 110px"></p>
                                <p>运动袜耐克NIKE中筒跑步袜健身训练袜
                                </p>
                                <p>59元</p>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="over-test8 over">
                    <p class="header-item-tit">运动项目</p>
                    <div class="nav-bg">
                        <ul class="container header-list">
                            <li>
                                <p><img src="img/index/运动项目/img.png"  style="width: 160px;height: 110px"></p>
                                <p>李宁篮球7号 cba比赛专用球成人专业吸湿防尘蓝球</p>
                                <p>104元</p>
                            </li>
                            <li>
                                <p><img src="img/index/运动项目/img_1.png"  style="width: 160px;height: 110px"></p>
                                <p>李宁足球成人标准训练比赛级儿童四号小学生专用高弹贴皮</p>
                                <p>150元</p>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="banner-search fr">
            <input id="search-input" class="acti" type="text" placeholder="哑铃" />
            <span id="search-btn" class="iconfont icon-chazhaosousuo"></span>
        </div>
    </div>
</div>







<div class="title">
    <div class="container">
        <a href="index.html">首页</a> / 我的订单
    </div>
</div>

<div class="profile-box">
    <div class="container clearfix">
        <div class="fl profile-left">	<!-- 左侧 -->
            <div class="menu-box">
                <h3>订单中心</h3>
                <ul>
                    <li class="act"><a href="/personal/order">我的订单</a></li>
                </ul>
            </div>
            <div class="menu-box">
                <h3>个人中心</h3>
                <ul>
                    <li><a href="/personal/page">我的个人中心</a></li>
                </ul>
            </div>
        </div>


        <div  class="fl profile-right">	<!-- 右侧 -->
            <div class="infor-box">
                <div class="order-title">
                    <h1>我的订单</h1>
                    <span>请谨防钓鱼链接或诈骗电话，了解更多></span>
                </div>

                <div class="clearfix">

                    <ul class="content-title clearfix">
                        <li id='0' class="act">全部订单</li>
                    </ul>

                    <ul class="content">
                        <li class="act" id="orderList">

                        </li>
                    </ul>
                </div>
            </div>
        </div>



    </div>
</div>


<!-- 底部导航栏 -->
<div class="footer-banner">
</div>

<!-- 底部信息栏 -->
<div class="footer-bottom">
    <div class="container">
<!--        <div class="iconfont icon-icon-xiaomiguishu"></div>-->
<!--        <div class="bottom-box">-->
<!--            <div class="bottom-one">	&lt;!&ndash; 底部信息栏第一行 &ndash;&gt;-->
<!--                <ul>-->
<!--                    <li>小米商城</li>-->
<!--                    <li>MIUI</li>-->
<!--                    <li>米家</li>-->
<!--                    <li>米聊</li>-->
<!--                    <li>多看</li>-->
<!--                    <li>游戏</li>-->
<!--                    <li>政企服务</li>-->
<!--                    <li>小米天猫店</li>-->
<!--                    <li>小米集团隐私政策</li>-->
<!--                    <li>小米公司儿童信息保护规则</li>-->
<!--                    <li>小米商城隐私政策</li>-->
<!--                    <li>小米商城用户协议</li>-->
<!--                    <li>问题反馈</li>-->
<!--                    <li>Select Location</li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="bottom-two">	&lt;!&ndash; 第二行 &ndash;&gt;-->
<!--                <ul>-->
<!--                    <li>北京互联网法院法律服务工作站</li>-->
<!--                    <li>中国消费者协会</li>-->
<!--                    <li>北京市消费者协会</li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="bottom-three">-->
<!--                <ul>-->
<!--                    <li>-->
<!--                        <a>© mi.com </a>-->
<!--                        <a>京ICP证110507号 </a>-->
<!--                        <a>京ICP备10046444号 </a>-->
<!--                        <a>京公网安备11010802020134号 </a>-->
<!--                        <a>京网文[2020]0276-042号</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a>（京）网械平台备字（2018）第00005号</a>-->
<!--                        <a>互联网药品信息服务资格证 (京)-非经营性-2014-0090</a>-->
<!--                        <a>营业执照</a>-->
<!--                        <a>医疗器械质量公告</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a>增值电信业务许可证</a>-->
<!--                        <a>网络食品经营备案 京食药网食备202010048</a>-->
<!--                        <a>食品经营许可证</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a>违法和不良信息举报电话：171-5104-4404 </a>-->
<!--                        <a>知识产权侵权投诉 </a>-->
<!--                        <a>本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="bottom-four">-->
<!--                <a><img src="img/index/truste.png" ></a>-->
<!--                <a><img src="img/index/vlogo2.png" ></a>-->
<!--                <a><img src="img/index/icon3.png" ></a>-->
<!--                <a><img src="img/index/ba10428a4f9495ac310fd0b5e0cf8370.png" ></a>-->
<!--                <a><img src="img/index/9a9e3f6928faa53374adc14a5884f896.png" ></a>-->
<!--            </div>-->
<!--        </div>-->
        <div class="bottom-text">让全球每个人都能享受科技带来的美好生活</div>
    </div>
</div>


<!--<script src="/JS/currency.js"></script>-->
<!--<script src="/JS/order.js"></script>-->
<script src="/layui/layui.js"></script>

<script type="text/html" id="orderTemplate">
    {{#   layui.each(d,function(index,item){    }}
    <div class="order">
        <div class="order-content-title">
            <div class="content-wait">{{= item.status }}</div>
            <div class="content-des clearfix">
                <span>{{= item.createTime}}</span>
                <span>|</span>
                <span>{{= item.username}}</span>
                <span>|</span>
                <span>订单号：<a href="">{{= item.code}}</a></span>
                <span>|</span>
                <span>在线支付</span>
                <div class="cope fr">应付金额：<b>{{= item.price}}</b>元</div>
            </div>
        </div>
        <div class="order-content-details clearfix">
            {{#   layui.each(item.product,function(i,v){    }}
            <div class="details-img fl"><img width="80px" height="80px" src="{{= v.imgPath}}"></div>
            <div class="details-title fl">
                <div>{{= v.name}}</div>
                <div>{{= v.price}}元</div>
                <!--				*{{= v.amount}}-->
            </div>
            {{#    })  }}
            <!--			<div class="details-button fr">-->
            <!--				<button class="details-buy" type="button">立即付款</button>-->
            <!--				<button type="button">订单详情</button>-->
            <!--				<button type="button">联系客服</button>-->
            <!--			</div>-->
        </div>
    </div>
    {{#    })  }}
</script>
<script>
    layui.use(['laytpl'],function() {
        var laytpl=layui.laytpl;
        var $ =layui.jquery;
        table = layui.table;
        var laypage = layui.laypage;


        $.get("/order/orders",function(orders) {
            console.log(orders);
            laytpl($("#orderTemplate").html()).render(orders,function(aaa) {
                //console.log(aaa);
                $("#orderList").html(aaa);
            });

        });
        var upload=function(status){
            $.get("/order/orders?status="+status, function (orders) {
                //console.log(orders);
                laytpl($("#orderTemplate").html()).render(orders,function(aaa) {
                    //console.log(aaa);
                    $("#orderList").html(aaa);
                });
            });
        };


        $('#0').on("click",function() {
            var status=$("#0").attr("id");
            upload(status);
        });
        $('#1').on("click",function() {
            var status=$("#1").attr("id");
            upload(status);
        });
        $('#2').on("click",function() {
            var status=$("#2").attr("id");
            upload(status);
        });
        $('#3').on("click",function() {
            var status=$("#3").attr("id");
            upload(status);
        });
        $('#4').on("click",function() {
            var status=$("#4").attr("id");
            upload(status);
        });




    });


</script>

</body>
</html>
