<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>个人中心</title>
    <link rel="icon" href="img/milogo.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="font/iconfont.css"/>    <!-- 引用图标 -->
    <link rel="stylesheet" type="text/css" href="CSS/reset.css"/>    <!-- 样式重置 -->
    <link rel="stylesheet" type="text/css" href="CSS/currency.css"/>
    <link rel="stylesheet" type="text/css" href="CSS/profile.css"/>
</head>
<body>
<!-- 顶部菜单模块 -->
<div class="menu-list">
    <div class="container clearfix">
        <div class="menu-left">
            <ul>
                <li>体育用品商城</li>
                <li class="download">
                    <a href="">下载app</a>
                    <div class="download-qrode">
                        <img src="img/index/download.png" width="90px">
                        <p>小米商城APP</p>
                    </div>
                </li>
                <li>智能生活</li>
                <li>Select Location</li>
            </ul>
        </div>
        <div class="menu-cart fr">
            <span class="iconfont icon-gouwuche"></span>
            <div>购物车</div>
            <div class="cart-box">快来购物车看看吧</div>
        </div>
        <div class="menu-right fr">
            <ul>
                <li><a href="login.html" target="_blank">登录</a></li>
                <li><a href="login.html" target="_blank">注册</a></li>
            </ul>
        </div>

    </div>
</div>
<!-- 导航栏模块 -->
<div class="banner header-bg">
    <div class="container clearfix ">
        <div class="iconfont icon-icon-xiaomiguishu"></div>
        <div class="banner-list header">
            <ul>
                <li class="over-test1">
                    <p class="header-item-tit">小米手机</p>
                    <div class="nav-bg">
                        <ul class="container header-list">
                            <li>
                                <p><img src="img/index/小米手机/xiaomi1.jpg"></p>
                                <p>Xiaomi MIX 4</p>
                                <p>4999元起</p>
                            </li>
                            <li>
                                <p><img src="img/index/小米手机/xiaomi2.jpg"></p>
                                <p>小米MIX FOLD</p>
                                <p>9999元起</p>
                            </li>
                            <li>
                                <p><img src="img/index/小米手机/xiaomi3.jpg"></p>
                                <p>小米11 Ultra</p>
                                <p>5499元起</p>
                            </li>
                            <li>
                                <p><img src="img/index/小米手机/xiaomi4.jpg"></p>
                                <p>小米11 Pro</p>
                                <p>4499元起</p>
                            </li>
                            <li>
                                <p><img src="img/index/小米手机/xiaomi5.jpg"></p>
                                <p>小米11 青春版</p>
                                <p>2099元起</p>
                            </li>
                            <li>
                                <p><img src="img/index/小米手机/xiaomi6.jpg"></p>
                                <p>小米10S</p>
                                <p>2999元起</p>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="over-test2">
                    <p class="header-item-tit">Redmi红米</p>
                    <div class="nav-bg">
                        <ul class="container header-list">
                            <li>
                                <p><img src="img/index/红米手机/hongmi1.jpg"></p>
                                <p>Redmi Note 10 Pro</p>
                                <p>1599元起</p>
                            </li>
                            <li>
                                <p><img src="img/index/红米手机/hongmi2.jpg"></p>
                                <p>Redmi Note 10 5G</p>
                                <p>1099元起</p>
                            </li>
                            <li>
                                <p><img src="img/index/红米手机/hongmi3.jpg"></p>
                                <p>K40 游戏增强版</p>
                                <p>1999元起</p>
                            </li>
                            <li>
                                <p><img src="img/index/红米手机/hongmi4.jpg"></p>
                                <p>K40 Pro 系列</p>
                                <p>2499元起</p>
                            </li>
                            <li>
                                <p><img src="img/index/红米手机/hongmi5.jpg"></p>
                                <p>Redmi K40</p>
                                <p>1999元起</p>
                            </li>
                            <li>
                                <p><img src="img/index/红米手机/hongmi6.jpg"></p>
                                <p>Redmi Note 9 4G</p>
                                <p>899元起</p>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="over-test3">
                    <p class="header-item-tit">电视</p>
                    <div class="nav-bg">
                        <ul class="container header-list">
                            <li>
                                <p><img src="img/index/电视/dianshi1.jpg"></p>
                                <p>小米电视6 55 OLED</p>
                                <p>5699元</p>
                            </li>
                            <li>
                                <p><img src="img/index/电视/dianshi2.jpg"></p>
                                <p>小米电视6 65” OLED</p>
                                <p>7699元</p>
                            </li>
                            <li>
                                <p><img src="img/index/电视/dianshi3.jpg"></p>
                                <p>小米电视 大师 77” OLED</p>
                                <p>19999元</p>
                            </li>
                            <li>
                                <p><img src="img/index/电视/dianshi4.jpg"></p>
                                <p>小米透明电视</p>
                                <p>49999元</p>
                            </li>
                            <li>
                                <p><img src="img/index/电视/dianshi5.jpg"></p>
                                <p>小米电视 大师 65英寸OLED</p>
                                <p>9999元</p>
                            </li>
                            <li>
                                <p><img src="img/index/电视/dianshi6.jpg"></p>
                                <p>Redmi 智能电视 MAX 98''</p>
                                <p>19999元</p>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="over-test4">
                    <p class="header-item-tit">笔记本</p>
                    <div class="nav-bg">
                        <ul class="container header-list">
                            <li>
                                <p><img src="img/index/笔记本/bijiben1.jpg"></p>
                                <p>小米笔记本 Pro X 15</p>
                                <p>8499元起</p>
                            </li>
                            <li>
                                <p><img src="img/index/笔记本/bijiben2.jpg"></p>
                                <p>Redmibook Pro 14 锐龙版</p>
                                <p>4499元起</p>
                            </li>
                            <li>
                                <p><img src="img/index/笔记本/bijiben3.jpg"></p>
                                <p>Redmibook Pro 锐龙版</p>
                                <p>4999元起</p>
                            </li>
                            <li>
                                <p><img src="img/index/笔记本/bijiben4.jpg"></p>
                                <p>小米笔记本 Pro 15 锐龙版</p>
                                <p>6799元起</p>
                            </li>
                            <li>
                                <p><img src="img/index/笔记本/bijiben5.jpg"></p>
                                <p>小米笔记本 Pro 15</p>
                                <p>6499元起</p>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="over-test5">
                    <p class="header-item-tit">平板</p>
                    <div class="nav-bg">
                        <ul class="container header-list">
                            <li>
                                <p><img src="img/index/平板/pingban1.jpg"></p>
                                <p>小米平板5</p>
                                <p>1999元起</>
                            </li>
                            <li>
                                <p><img src="img/index/平板/pingban2.jpg"></p>
                                <p>小米平板5 Pro</p>
                                <p>2499元起</>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="over-test6">
                    <p class="header-item-tit">家电</p>
                    <div class="nav-bg">
                        <ul class="container header-list">
                            <li>
                                <p><img src="img/index/家电/jiadian1.jpg"></p>
                                <p>米家风冷对开门冰箱 483L</p>
                                <p>2399元</>
                            </li>
                            <li>
                                <p><img src="img/index/家电/jiadian2.jpg"></p>
                                <p>米家扫拖机器人1T</p>
                                <p>1799元</>
                            </li>
                            <li>
                                <p><img src="img/index/家电/jiadian3.jpg"></p>
                                <p>米家互联网洗烘一体机10kg</p>
                                <p>1899元</>
                            </li>
                            <li>
                                <p><img src="img/index/家电/jiadian4.jpg"></p>
                                <p>小米净水器S1 800G</p>
                                <p>2199元</>
                            </li>
                            <li>
                                <p><img src="img/index/家电/jiadian5.jpg"></p>
                                <p>米家空气净化器3 高效除菌</p>
                                <p>799元</>
                            </li>
                            <li>
                                <p><img src="img/index/家电/jiadian6.jpg"></p>
                                <p>Redmi全自动波轮洗衣机1A</p>
                                <p>849元</>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="over-test7">
                    <p class="header-item-tit">路由器</p>
                    <div class="nav-bg">
                        <ul class="container header-list">
                            <li>
                                <p><img src="img/index/路由器/luyouqi1.jpg"></p>
                                <p>小米路由器AX6000</p>
                                <p>599元</>
                            </li>
                            <li>
                                <p><img src="img/index/路由器/luyouqi2.jpg"></p>
                                <p>小米路由器AX9000</p>
                                <p>1299元</>
                            </li>
                            <li>
                                <p><img src="img/index/路由器/luyouqi3.jpg"></p>
                                <p>Redmi路由器AC2100</p>
                                <p>169元</>
                            </li>
                            <li>
                                <p><img src="img/index/路由器/luyouqi4.jpg"></p>
                                <p>小米路由器 Mesh</p>
                                <p>999元</>
                            </li>
                            <li>
                                <p><img src="img/index/路由器/luyouqi5.jpg"></p>
                                <p>小米路由器4A 千兆版</p>
                                <p>119元</>
                            </li>
                            <li>
                                <p><img src="img/index/路由器/luyouqi6.jpg"></p>
                                <p>小米路由器 4C</p>
                                <p>59元</>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="over-test8">
                    <p class="header-item-tit">智能硬件</p>
                    <div class="nav-bg">
                        <ul class="container header-list">
                            <li>
                                <p><img src="img/index/智能硬件/yingjian1.jpg"></p>
                                <p>CyberDog 仿生四足机器人</p>
                                <p>9999元</>
                            </li>
                            <li>
                                <p><img src="img/index/智能硬件/yingjian2.jpg"></p>
                                <p>小米智能门锁 1S</p>
                                <p>1299元</>
                            </li>
                            <li>
                                <p><img src="img/index/智能硬件/yingjian3.jpg"></p>
                                <p>Redmi小爱触屏音箱Pro8</p>
                                <p>599元</>
                            </li>
                            <li>
                                <p><img src="img/index/智能硬件/yingjian4.jpg"></p>
                                <p>Xiaomi Sound</p>
                                <p>499元</>
                            </li>
                            <li>
                                <p><img src="img/index/智能硬件/yingjian5.jpg"></p>
                                <p>Redmi小爱音箱 Play</p>
                                <p>89元</>
                            </li>
                            <li>
                                <p><img src="img/index/智能硬件/yingjian6.jpg"></p>
                                <p>查看全部</p>
                                <p>智能硬件</>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <p class="header-item-tit">服务</p>
                </li>
                <li>
                    <p class="header-item-tit">社区</p>
                </li>
            </ul>
        </div>
        <div class="banner-search fr">
            <input id="search-input" class="acti" type="text" placeholder="黑鲨4"/>
            <span id="search-btn" class="iconfont icon-chazhaosousuo"></span>
        </div>
    </div>
</div>

<div class="title">
    <div class="container">
        <a href="index.html">首页</a> / 个人中心
    </div>
</div>
<div class="profile-box">
    <div class="container clearfix">
        <div class="fl profile-left">    <!-- 左侧 -->
            <div class="menu-box">
                <h3>订单中心</h3>
                <ul>
                    <li><a href="order.html">我的订单</a></li>
                    <li>评价晒单</li>
                    <li>话费充值订单</li>
                    <li>以旧换新订单</li>
                </ul>
            </div>
            <div class="menu-box">
                <h3>个人中心</h3>
                <ul>
                    <li class="act">我的个人中心</li>
                    <li id="address">收货地址</li>
                </ul>
            </div>
            <div class="menu-box">
                <h3>售后服务</h3>
                <ul>
                    <li>服务记录</li>
                    <li>申请服务</li>
                    <li>领取快递报销</li>
                </ul>
            </div>
            <div class="menu-box">
                <h3>账户管理</h3>
                <ul>
                    <li><a href="personal.html" target="_blank">个人信息</a></li>
                    <li>修改密码</li>
                </ul>
            </div>
        </div>

        <div class="fl profile-right">    <!-- 右侧 -->
            <div class="infor-box clearfix">
                <div class="infor-card fl">
                    <span class="img"></span>
                    <h2>11123534632</h2>
                    <p>下午好</p>
                    <a href="personal.html" target="_blank">修改个人信息 ></a>
                </div>
                <div class="fr infor-card-right">
                    <ul>
                        <li>账户安全：普通</li>
                        <li>绑定手机： 183******17</li>
                        <li>绑定邮箱： 未绑定</li>
                    </ul>
                </div>
            </div>
            <hr>

            <div class="infor-list">
                <ul>
                    <li>
                        <img src="img/profile/portal-icon-1.png">
                        <h3>待支付的订单：0</h3>
                        <a>查看待支付订单</a>
                    </li>
                    <li>
                        <img src="img/profile/sportal-icon-2.png">
                        <h3>待收货的订单：0</h3>
                        <a>查看待收货订单</a>
                    </li>
                    <li>
                        <img src="img/profile/portal-icon-3.png">
                        <h3>待评价商品数：0</h3>
                        <a>查看待评价商品</a>
                    </li>
                    <li>
                        <img src="img/profile/portal-icon-4.png">
                        <h3>喜欢的商品：0</h3>
                        <a>查看喜欢的商品</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- 底部导航栏 -->
<div class="footer-banner">
    <div class="container">
        <div class="footer-service">    <!-- 维修服务 -->
            <ul>
                <li>
                    <i class="iconfont icon-buoumaotubiao46"></i>
                    预约维修服务
                </li>
                <li>
                    <i class="iconfont icon-7tiantuihuanhuo"></i>
                    7天无理由退货
                </li>
                <li>
                    <i class="iconfont icon-15tianwuliyoutuihuo"></i>
                    15天免费换货
                </li>
                <li>
                    <i class="iconfont icon-liwu"></i>
                    满69包邮
                </li>
                <li>
                    <i class="iconfont icon-address"></i>
                    520余家售后网点
                </li>
            </ul>
        </div>
        <div class="footer-help">
            <div class="footer-help-list clearfix">
                <dl>
                    <dt>帮助中心</dt>
                    <dd>账户管理</dd>
                    <dd>购物指南</dd>
                    <dd>订单操作</dd>
                </dl>
                <dl>
                    <dt>服务支持</dt>
                    <dd>售后政策</dd>
                    <dd>自助服务</dd>
                    <dd>相关下载</dd>
                </dl>
                <dl>
                    <dt>线下门店</dt>
                    <dd>小米之家</dd>
                    <dd>服务网点</dd>
                    <dd>授权体验店</dd>
                </dl>
                <dl>
                    <dt>关于小米</dt>
                    <dd>了解小米</dd>
                    <dd>加入小米</dd>
                    <dd>投资者关系</dd>
                    <dd>企业社会责任</dd>
                    <dd>廉洁举报</dd>
                </dl>
                <dl>
                    <dt>关注我们</dt>
                    <dd>新浪微博</dd>
                    <dd>官方微信</dd>
                    <dd>联系我们</dd>
                    <dd>公益基金会</dd>
                </dl>
                <dl>
                    <dt>特色服务</dt>
                    <dd>F 码通道</dd>
                    <dd>礼物码</dd>
                    <dd>防伪查询</dd>
                </dl>
            </div>
            <div class="footer-help-phone">
                <p>400-100-5678</p>
                <p>8:00-18:00（仅收市话费）</p>
                <p class="customer">
                    <i class="iconfont icon-xiaoxi"></i>
                    人工客服
                </p>
                <p class="follow">
                    关注小米：
                    <i class="iconfont icon-weibo1"></i>
                    <i class="iconfont icon-weixin1"></i>
                </p>
            </div>
        </div>
    </div>
</div>

<!-- 底部信息栏 -->
<div class="footer-bottom">
    <div class="container">
        <div class="iconfont icon-icon-xiaomiguishu"></div>
        <div class="bottom-box">
            <div class="bottom-one">    <!-- 底部信息栏第一行 -->
                <ul>
                    <li>小米商城</li>
                    <li>MIUI</li>
                    <li>米家</li>
                    <li>米聊</li>
                    <li>多看</li>
                    <li>游戏</li>
                    <li>政企服务</li>
                    <li>小米天猫店</li>
                    <li>小米集团隐私政策</li>
                    <li>小米公司儿童信息保护规则</li>
                    <li>小米商城隐私政策</li>
                    <li>小米商城用户协议</li>
                    <li>问题反馈</li>
                    <li>Select Location</li>
                </ul>
            </div>
            <div class="bottom-two">    <!-- 第二行 -->
                <ul>
                    <li>北京互联网法院法律服务工作站</li>
                    <li>中国消费者协会</li>
                    <li>北京市消费者协会</li>
                </ul>
            </div>
            <div class="bottom-three">
                <ul>
                    <li>
                        <a>© mi.com </a>
                        <a>京ICP证110507号 </a>
                        <a>京ICP备10046444号 </a>
                        <a>京公网安备11010802020134号 </a>
                        <a>京网文[2020]0276-042号</a>
                    </li>
                    <li>
                        <a>（京）网械平台备字（2018）第00005号</a>
                        <a>互联网药品信息服务资格证 (京)-非经营性-2014-0090</a>
                        <a>营业执照</a>
                        <a>医疗器械质量公告</a>
                    </li>
                    <li>
                        <a>增值电信业务许可证</a>
                        <a>网络食品经营备案 京食药网食备202010048</a>
                        <a>食品经营许可证</a>
                    </li>
                    <li>
                        <a>违法和不良信息举报电话：171-5104-4404 </a>
                        <a>知识产权侵权投诉 </a>
                        <a>本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</a>
                    </li>
                </ul>
            </div>
            <div class="bottom-four">
                <a><img src="img/index/truste.png"></a>
                <a><img src="img/index/vlogo2.png"></a>
                <a><img src="img/index/icon3.png"></a>
                <a><img src="img/index/ba10428a4f9495ac310fd0b5e0cf8370.png"></a>
                <a><img src="img/index/9a9e3f6928faa53374adc14a5884f896.png"></a>
            </div>
        </div>
        <div class="bottom-text">让全球每个人都能享受科技带来的美好生活</div>
    </div>
</div>


<script src="JS/currency.js" type="text/javascript"></script>
<script src="JS/profile.js" type="text/javascript"></script>
<script src="layui/layui.js" type="text/javascript"></script>
<script>
    $("#address").on('click', function () {
        $.get('/member-address',function () {

        })
    })
</script>
</body>
</html>
