<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>家电列表</title>
		<link rel="icon" href="img/milogo.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="font/iconfont.css"/>
		<link rel="stylesheet" type="text/css" href="CSS/reset.css"/>
		<link rel="stylesheet" type="text/css" href="CSS/Tv.css"/>
	</head>
	<body>
		<div class="banner-bg">
			<div class="container">
				<div class="iconfont icon-icon-xiaomiguishu"></div>
			</div>
		</div>
		
		<!-- 页面右侧固定版块 -->
		<div class="right-fix">
			<ul>
				<li class="iconfont icon-shouji">
					<div class="number-qrode">
						<img src="img/index/download.png" width="90px">
						<p>扫码领取新<br>人百元礼包</p>
						<!-- <span class="Scan-text-triangle"></span> -->
					</div>
				</li>
				<li ><a class="iconfont icon-icon-" href="profile.html" target="_blank"></a></li>
				<li class="iconfont icon-buoumaotubiao46"></li>
				<li class="iconfont icon-kefu"></li>
				<li class="iconfont icon-gouwuche"></li>
			</ul>
		</div>
		
		<!-- 第一组图 -->
		<div class="row-one topt">
			<div class="container">
				<ul class="one">
					<li>
						<img src="img/Tv/box1/1.jpg" >
						<p>全面屏电视E43K</p>
						<p>全面屏设计，海量内容</p>
						<p>¥1399 <s>¥1599</s></p>
						<a href="">立即购买</a>
					</li>
					<li>
						<img src="img/Tv/box1/2.jpg" >
						<p>全面屏电视E43K</p>
						<p>全面屏设计，海量内容</p>
						<p>¥1399 <s>¥1599</s></p>
						<a href="">立即购买</a>
					</li>
					<li>
						<img src="img/Tv/box1/3.jpg" >
						<p>全面屏电视E43K</p>
						<p>全面屏设计，海量内容</p>
						<p>¥1399 <s>¥1599</s></p>
						<a href="">立即购买</a>
					</li>
					<li>
						<img src="img/Tv/box1/4.jpg" >
						<p>全面屏电视E43K</p>
						<p>全面屏设计，海量内容</p>
						<p>¥1399 <s>¥1599</s></p>
						<a href="">立即购买</a>
					</li>
					<li class="rela">
						<img src="img/Tv/box1/5.jpg" >
						<p>全面屏电视E43K</p>
						<p>全面屏设计，海量内容</p>
						<p>¥1399 <s>¥1599</s></p>
						<a href="">立即购买</a>
						<span class="absolu">3期免息</span>
					</li>
					<li>
						<img src="img/Tv/box1/6.jpg" >
						<p>全面屏电视E43K</p>
						<p>全面屏设计，海量内容</p>
						<p>¥1399 <s>¥1599</s></p>
						<a href="">立即购买</a>
					</li>
					<li>
						<img src="img/Tv/box1/7.jpg" >
						<p>全面屏电视E43K</p>
						<p>全面屏设计，海量内容</p>
						<p>¥1399 <s>¥1599</s></p>
						<a href="">立即购买</a>
					</li>
					<li>
						<img src="img/Tv/box1/8.jpg" >
						<p>全面屏电视E43K</p>
						<p>全面屏设计，海量内容</p>
						<p>¥1399 <s>¥1599</s></p>
						<a href="">立即购买</a>
					</li>
					<li>
						<img src="img/Tv/box1/9.jpg" >
						<p>全面屏电视E43K</p>
						<p>全面屏设计，海量内容</p>
						<p>¥1399 <s>¥1599</s></p>
						<a href="">立即购买</a>
					</li>
				</ul>
			</div>
		</div>
		
		
		
		<!-- 客厅大屏 -->
		<div class="row-one">
			<div class="container">
				<h1 style="text-align: center;font-size: 40px;color: white;"><i>客厅大屏</i></h1>
				<ul class="one">
					<li>
						<img src="img/Tv/box2/1.jpg" >
						<p>全面屏电视E43K</p>
						<p>全面屏设计，海量内容</p>
						<p>¥1399 <s>¥1599</s></p>
						<a href="">立即购买</a>
					</li>
					<li class="rela">
						<img src="img/Tv/box2/2.jpg" >
						<p>全面屏电视E43K</p>
						<p>全面屏设计，海量内容</p>
						<p>¥1399 <s>¥1599</s></p>
						<a href="">立即购买</a>
						<span class="absolu">9月1日17999元</span>
					</li>
					<li>
						<img src="img/Tv/box2/3.jpg" >
						<p>全面屏电视E43K</p>
						<p>全面屏设计，海量内容</p>
						<p>¥1399 <s>¥1599</s></p>
						<a href="">立即购买</a>
					</li>
					<li>
						<img src="img/Tv/box2/4.jpg" >
						<p>全面屏电视E43K</p>
						<p>全面屏设计，海量内容</p>
						<p>¥1399 <s>¥1599</s></p>
						<a href="">立即购买</a>
					</li>
					<li class="rela">
						<img src="img/Tv/box2/5.jpg" >
						<p>全面屏电视E43K</p>
						<p>全面屏设计，海量内容</p>
						<p>¥1399 <s>¥1599</s></p>
						<a href="">立即购买</a>
						<span class="absolu">3期免息</span>
					</li>
					<li>
						<img src="img/Tv/box2/6.jpg" >
						<p>全面屏电视E43K</p>
						<p>全面屏设计，海量内容</p>
						<p>¥1399 <s>¥1599</s></p>
						<a href="">立即购买</a>
					</li>
				</ul>
			</div>
		</div>
		
		
		<!-- 精致小屏 -->
		<div class="row-one">
			<div class="container">
				<h1 style="text-align: center;font-size: 40px;color: white;"><i>精致小屏</i></h1>
				<ul class="one">
					<li>
						<img src="img/Tv/box3/1.jpg" >
						<p>全面屏电视E43K</p>
						<p>全面屏设计，海量内容</p>
						<p>¥1399 <s>¥1599</s></p>
						<a href="">立即购买</a>
					</li>
					<li>
						<img src="img/Tv/box3/2.jpg" >
						<p>全面屏电视E43K</p>
						<p>全面屏设计，海量内容</p>
						<p>¥1399 <s>¥1599</s></p>
						<a href="">立即购买</a>
					</li>
					<li>
						<img src="img/Tv/box3/3.jpg" >
						<p>全面屏电视E43K</p>
						<p>全面屏设计，海量内容</p>
						<p>¥1399 <s>¥1599</s></p>
						<a href="">立即购买</a>
					</li>
					<li>
						<img src="img/Tv/box3/4.jpg" >
						<p>全面屏电视E43K</p>
						<p>全面屏设计，海量内容</p>
						<p>¥1399 <s>¥1599</s></p>
						<a href="">立即购买</a>
					</li>
					<li>
						<img src="img/Tv/box3/5.jpg" >
						<p>全面屏电视E43K</p>
						<p>全面屏设计，海量内容</p>
						<p>¥1399 <s>¥1599</s></p>
						<a href="">立即购买</a>
					</li>
					<li>
						<img src="img/Tv/box3/6.jpg" >
						<p>全面屏电视E43K</p>
						<p>全面屏设计，海量内容</p>
						<p>¥1399 <s>¥1599</s></p>
						<a href="">立即购买</a>
					</li>
				</ul>
			</div>
		</div>
		
		
		
		<!-- 新品尝鲜 -->
		<div class="row-one">
			<div class="container">
				<h1 style="text-align: center;font-size: 40px;color: white;"><i>新品尝鲜</i></h1>
				<ul class="one">
					<li>
						<img src="img/Tv/box4/1.jpg" >
						<p>全面屏电视E43K</p>
						<p>全面屏设计，海量内容</p>
						<p>¥1399 <s>¥1599</s></p>
						<a href="">立即购买</a>
					</li>
					<li>
						<img src="img/Tv/box4/2.jpg" >
						<p>全面屏电视E43K</p>
						<p>全面屏设计，海量内容</p>
						<p>¥1399 <s>¥1599</s></p>
						<a href="">立即购买</a>
					</li>
					<li class="rela">
						<img src="img/Tv/box4/3.jpg" >
						<p>全面屏电视E43K</p>
						<p>全面屏设计，海量内容</p>
						<p>¥1399 <s>¥1599</s></p>
						<a href="">立即购买</a>
						<span class="absolu">3期免息</span>
					</li>
					<li>
						<img src="img/Tv/box4/4.jpg" >
						<p>全面屏电视E43K</p>
						<p>全面屏设计，海量内容</p>
						<p>¥1399 <s>¥1599</s></p>
						<a href="">立即购买</a>
					</li>
					<li class='rela'>
						<img src="img/Tv/box4/5.jpg" >
						<p>全面屏电视E43K</p>
						<p>全面屏设计，海量内容</p>
						<p>¥1399 <s>¥1599</s></p>
						<a href="">立即购买</a>
						<span class="absolu">3期免息</span>
					</li>
					<li class='rela'>
						<img src="img/Tv/box4/6.jpg" >
						<p>全面屏电视E43K</p>
						<p>全面屏设计，海量内容</p>
						<p>¥1399 <s>¥1599</s></p>
						<a href="">立即购买</a>
						<span class="absolu">3期免息</span>
					</li>
					<li class="rela">
						<img src="img/Tv/box4/7.jpg" >
						<p>全面屏电视E43K</p>
						<p>全面屏设计，海量内容</p>
						<p>¥1399 <s>¥1599</s></p>
						<a href="">立即购买</a>
						<span class="absolu">24期免息</span>
					</li>
					<li>
						<img src="img/Tv/box4/8.jpg" >
						<p>全面屏电视E43K</p>
						<p>全面屏设计，海量内容</p>
						<p>¥1399 <s>¥1599</s></p>
						<a href="">立即购买</a>
					</li>
					<li class="rela">
						<img src="img/Tv/box4/9.jpg" >
						<p>全面屏电视E43K</p>
						<p>全面屏设计，海量内容</p>
						<p>¥1399 <s>¥1599</s></p>
						<a href="">立即购买</a>
						<span class="absolu">24期免息</span>
					</li>
				</ul>
			</div>
		</div>
		
		
		
		
		<!-- 更多好物 -->
		<div class="row-one">
			<div class="container">
				<h1 style="text-align: center;font-size: 40px;color: white;"><i>更多好物</i></h1>
				<ul class="one">
					<li>
						<img src="img/Tv/box5/1.jpg" >
						<p>全面屏电视E43K</p>
						<p>全面屏设计，海量内容</p>
						<p>¥1399 <s>¥1599</s></p>
						<a href="">立即购买</a>
					</li>
					<li>
						<img src="img/Tv/box5/2.jpg" >
						<p>全面屏电视E43K</p>
						<p>全面屏设计，海量内容</p>
						<p>¥1399 <s>¥1599</s></p>
						<a href="">立即购买</a>
					</li>
					<li>
						<img src="img/Tv/box5/3.jpg" >
						<p>全面屏电视E43K</p>
						<p>全面屏设计，海量内容</p>
						<p>¥1399 <s>¥1599</s></p>
						<a href="">立即购买</a>
					</li>
					<li>
						<img src="img/Tv/box5/4.jpg" >
						<p>全面屏电视E43K</p>
						<p>全面屏设计，海量内容</p>
						<p>¥1399 <s>¥1599</s></p>
						<a href="">立即购买</a>
					</li>
					<li>
						<img src="img/Tv/box5/5.jpg" >
						<p>全面屏电视E43K</p>
						<p>全面屏设计，海量内容</p>
						<p>¥1399 <s>¥1599</s></p>
						<a href="">立即购买</a>
					</li>
					<li>
						<img src="img/Tv/box5/6.jpg" >
						<p>全面屏电视E43K</p>
						<p>全面屏设计，海量内容</p>
						<p>¥1399 <s>¥1599</s></p>
						<a href="">立即购买</a>
					</li>
				</ul>
			</div>
		</div>
		
		
		<script type="text/javascript">
			// document.querySelectorAll()
			document.querySelector('.one').onclick=function(e){
				console.log(1)
				if(e.target.tagName=='LI'){
					console.log(2)
					this.firstElementChild.firstElementChild.classList.add('llact');
				}
			}
			
		</script>
	</body>
</html>
