<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.situ.mallsdau1.mapper.OrderInfoMapper">



    <sql id="Base_Column_List">
        Id,code,create_time,
        member_id,price,addid,
        status
    </sql>
    <select id="selectProduct" resultType="com.situ.mallsdau1.vo.OrderInfoVO"></select>
</mapper>
