<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/public.css" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">关键字</label>
                            <div class="layui-input-inline">
                                <input type="text" id="keyword" name="username" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="button" id="btn1" class="layui-btn layui-btn-primary" lay-submit
                                    lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加</button>
                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除</button>
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">锁定</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">解锁</a>
        </script>
        <script type="text/html" id="formTemplate">
            <form class="layui-form" action="" lay-filter="userForm">
                <div class="layui-form-item">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-inline layui-input-wrap">
                        <input type="text" name="username" lay-verify="required" autocomplete="off" lay-affix="clear"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-inline layui-input-wrap">
                        <input type="text" name="password" lay-verify="required" autocomplete="off" lay-affix="clear"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">手机号</label>
                    <div class="layui-input-inline layui-input-wrap">
                        <input type="text" name="tel" lay-verify="required" autocomplete="off" lay-affix="clear"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">姓名</label>
                    <div class="layui-input-inline layui-input-wrap">
                        <input type="text" name="name" lay-verify="required" autocomplete="off" lay-affix="clear"
                               class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="button" id="saveBtn" class="layui-btn" lay-submit lay-filter="demo1">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </script>
    </div>
</div>
<script src="/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script th:inline="none">
    layui.use(['form', 'table', 'upload'], function () {
        var $ = layui.jquery,
            form = layui.form,
            upload = layui.upload,
            table = layui.table;


        //监听搜索按钮事件
        $("#btn1").on("click", function () {
            table.render({
                elem: '#currentTableId',
                url: '/member/list',
                toolbar: '#toolbarDemo',
                defaultToolbar: ['filter', 'exports', 'print', {
                    title: '提示',
                    layEvent: 'LAYTABLE_TIPS',
                    icon: 'layui-icon-tips'
                }],
                cols: [[
                    {type: "checkbox", width: 50},
                    {field: 'id', width: 80, title: 'ID', sort: true},
                    {field: 'username', width: 80, title: '用户名'},
                    {field: 'tel', width: 180, title: '手机号'},
                    {field: 'name', width: 80, title: '姓名'},
                    {title: '操作', minWidth: 150, toolbar: '#currentTableBar', align: "center"}
                ]],
                limits: [10, 15, 20, 25, 50, 100],
                limit: 15,
                page: true,
                skin: 'line'
            });
        })
        $("#btn1").click();

        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                var index = layer.open({
                    title: '添加会员',
                    type: 1,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['400px', '400px'],
                    content: $("#formTemplate").html()
                });
                //对表单元素渲染
                form.render();
                //给保存按钮绑定事件
                $("#saveBtn").on("click", function () {
                    //获取表单中录入的所有数据
                    var data = form.val("userForm");
                    //发送请求
                    $.post("/member/save", data, function () {
                        //关窗口
                        layer.closeAll();
                        //点查询按钮
                        $("#btn1").click();
                    });
                });
            } else if (obj.event === 'delete') {  // 监听删除操作
                var checkStatus = table.checkStatus('currentTableId')
                    , data = checkStatus.data;
                layer.alert(JSON.stringify(data));
            }
        });


        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {
                layer.confirm('真的要锁定用户吗', function (index) {
                    //点了确认
                    //发请求让java删除数据
                    $.post("/member/suoding", {username: obj.data.username}, function () {
                        //如果删除成功了
                        layer.closeAll();
                        //刷新数据-》点一下查询按钮
                        $("#btn1").click();
                    });
                });
            } else if (obj.event === 'delete') {
                layer.confirm('真的要解锁吗', function (index) {
                    //点了确认
                    //发请求让java删除数据
                    $.post("/member/jiesuo", {username: obj.data.username}, function () {
                        //如果删除成功了
                        layer.closeAll();
                        //刷新数据-》点一下查询按钮
                        $("#btn1").click();
                    });
                });
            }
        });
    });
</script>

</body>
</html>