/* 顶部导航栏 */
.header-box{
	border-bottom: 2px solid #FF5C00;
	background-color: #ffffff;
}
.header-left div{
	display: inline-block;
	vertical-align: middle;
	line-height: 82px;
}
.header-left .icon-icon-xiaomiguishu{
	font-size: 45px;
	color: #FF6700;
}
.header-left :nth-child(2){
	font-size: 28px;
	color: #424242;
	margin-left: 50px;
}
.header-left :nth-child(3){
	font-size: 12px;
	color: #757575;
	padding: 20px 0 0 15px;
}
.header-right>ul>li{
	display: inline-block;
	font-size: 12px;
	color: #757575;
	/* line-height: 102px; */
	text-align: center;
	padding: 32px 15px;
}
.header-right>ul>li:hover{
	color: #FF5C00;
}
.header-right>ul>li a:hover{
	color: #FF5C00;
}
.header-right>ul>li a{
	color: #757575;
}
.user-title{
	position: relative;
}
.user-list{
	position: absolute;
	left: -15px;
	top: 62px;
	height: 0;
	overflow: hidden;
	transition: all 0.3s;
	box-shadow: 0 0 10px #ccc;
}
.user-title:hover .user-list{
	display: block;
	height: 170px;
}
.user-list li:hover{
	color: #FF6700;
	background-color: #f5f5f5;
	cursor: pointer;
}






/* 中间部分 */
.payment-box{
	background-color: #fff;
}
.payment{
	margin: 30px 0;
	padding: 30px 40px 50px;
}
.icon-duihao{
	font-size: 80px;
	color: #83c44e;
}
.paymentResult h2{
	font-size: 24px;
	font-weight: normal;
	color: #424242;
}
.paymentResult{
	font-size: 14px;
	color: #616161;
	line-height: 30px;
	margin-left: 50px;
}
.paymentResult .time{
	color: #FF6700;
}
.paymentInfor{
	font-size: 14px;
	color: #757575;
	text-align: right;
	line-height: 30px;
}
.paymentInfor .total{
	font-size: 20px;
	color: #ff6700;
}


